MYSQL_ROOT_PASSWORD=<secret_password>

# Location where the UMLS subset files are that you just created with MetamorphoSys
SRC_FILE_DIR=<local_path_to_02_ExtractSubset>

# Location where you want to save your MySQL UMLS DB on your local filesystem
UMLS_DB_DIR=<local_path_to_03_SqlDB>
